<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <label>Username</label>
    <input name="username" required /><br/>
    <label>Password</label>
    <input type="password" name="password" required /><br/>
    <button class="button" type="submit">Login</button>
  </form>
  {{ if .Error }}
    <p style="color:red;">Invalid credentials</p>
  {{ end }}
</body>
</html>
